!!!html5
%html
  %head
    %script{:src => "js/jquery-1.11.3.min.js"}
    %script{:src => "js/dragdrop.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}

  %body
    %h1 File Uploader

    %div{:id => "drop_zone", :ondrop => "onDrop(event)", :ondragover => "onDragOver(event)"}
      %p アップロードするファイルをドロップ

      %form{:id => "content", :action => "./upload", :method => "post", :enctype => "multipart/form-data"}
        %input{:type => "file", :name => "file"}
        %input{:type => "submit", :name => "submit"}


    - @list.each do |file|
      %ul
        %li
          %a{:href => '/download/'+file}= file
          %a{:href => '/delete/'+file} delete
