!!!html5
%html
  %head
    %script{:src => "/js/jquery-1.11.3.min.js"}
    %script{:src => "/js/dragdrop.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}

  %body
    %h1 File Uploader

    -if !@user.nil?
      %div
        welcome #{@user.name}
        %a{:href => '/logout'} logout

      %div{:id => "drop_zone", :ondrop => "onDrop(event)", :ondragover => "onDragOver(event)"}
        %p アップロードするファイルをドロップ
        %form{:id => "content", :action => "/upload", :method => "post", :enctype => "multipart/form-data"}
          %input{:type => "file", :name => "file"}
          %input{:type => "submit", :name => "submit"}

      = yield

    -else
      %div
        please
        %a{:href => '/login'} login

    %div
      %a{:href => "/"} home
