!!!html5
%div
  -@list.each do |file|
    %ul
      %li
        %a{:href => '/files/'+@user_path+'/'+file}= file
        %a{:href => '/download/'+@user_path+'/'+file} DL
        %a{:href => '/delete/'+@user_path+'/'+file} delete
